<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lovemylunch.api.dao.mybatis.mapper.AdminUserMapper">
   <select id="getByLogin" parameterType="string" resultType="com.lovemylunch.common.beans.system.AdminUser">
      <include refid="search_selectFields"/>
      <include refid="search_fromClause"/>
      WHERE a.admin_login = #{login} limit 1
   </select>

   <select id="getById" parameterType="string" resultType="com.lovemylunch.common.beans.system.AdminUser">
      <include refid="search_selectFields"/>
      <include refid="search_fromClause"/>
      WHERE a.admin_id = #{id} limit 1
   </select>

	<select id="login" parameterType="com.lovemylunch.common.beans.system.AdminUser" resultType="com.lovemylunch.common.beans.system.AdminUser">
		<include refid="search_selectFields"/>
		<include refid="search_fromClause"/>
		WHERE a.admin_login = #{admin_login} and a.admin_password = #{admin_password} limit 1
	</select>

   <select id="getAll" parameterType="String" resultType="com.lovemylunch.common.beans.system.AdminUser">
      <include refid="search_selectFields"/>
      <include refid="search_fromClause"/>
      WHERE operationCenterCode=#{center}
   </select>

	<sql id="search_selectFields">
	SELECT
   a.admin_id as admin_id,
   a.admin_login as admin_login,
   a.admin_password as admin_password,
   a.admin_name as admin_name,
   a.frontend_permissions as frontend_permissions,
   a.backend_permissions as backend_permissions,
   a.operationCenterCode as operationCenterCode,
   a.createTime as createTime
	</sql>

	<sql id="search_fromClause">
		FROM awf_admin a
	</sql>

   <update id="updatePassword" parameterType="com.lovemylunch.api.dao.mybatis.mapper.AdminUserMapper">
      UPDATE awf_admin
      SET
      admin_password = #{admin_password,jdbcType=VARCHAR}
      WHERE admin_login = #{admin_login}
   </update>

   <update id="updateBackendPermissions" parameterType="com.lovemylunch.api.dao.mybatis.mapper.AdminUserMapper">
      UPDATE awf_admin
      SET
      backend_permissions = #{backend_permissions,jdbcType=VARCHAR}
      WHERE admin_login = #{admin_login}
   </update>

   <update id="updateFrontendPermissions" parameterType="com.lovemylunch.api.dao.mybatis.mapper.AdminUserMapper">
      UPDATE awf_admin
      SET
      frontend_permissions = #{frontend_permissions,jdbcType=VARCHAR},
      backend_permissions = #{backend_permissions,jdbcType=VARCHAR}
      WHERE admin_login = #{admin_login}
   </update>

   <delete id="delete" parameterType="string">
      DELETE FROM awf_admin WHERE admin_id = #{id}
   </delete>
</mapper>